/* Universal Styling */

body {
  box-sizing: border-box;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

/* Header Styling */

header {
  background-image: url('./resources/images/dasmoto\ pattern.jpeg');
  background-position: center;
  background-size: cover;
  margin-top: 0;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

span {
  font-weight: bold;
  color: blue;
}
