/* Universal Styling */

body {
  box-sizing: border-box;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

/* Universal Content Styling */

section {
  margin-left: 3px;
}

/* Content Header */

header {
  background-image: url('./resources/images/dasmoto\ pattern.jpeg');
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

/* Content Body */

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

span {
  font-weight: bold;
  color: blue;
}

#brushes {
  background-color: mediumspringgreen;
}

#frames {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}

/* Footer */

footer {
  background-color: lightgray;
  padding: 8px;
  text-align: center;
  font-size: 14px;
  color: khaki;
  font-weight: bold;
}
