/* Universal Styling */

body {
  box-sizing: border-box;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

/* Header Styling */

header {
  background-image: url('./resources/images/dasmoto\ pattern.jpeg');
  height: 75px;
  width: 100%;
}

header h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}
